h1{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 75px;
    color: beige;
    text-align: center;
}
table{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 55px;
    color:beige;
    text-align:center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 2px solid beige;
    padding: 15px;
}

th {
    background-color: rgba(255,255,255,0.1);
}
body{
    background-color: rgb(150, 75, 0) ;
}
img{
    display:block;
    margin:auto;
    width: 600px;
    position: absolute;
    top: 200px;
    left: 1000px;
}
button{
    background-color: beige;
    font-family: 'Bubblegum Sans', cursive;
    display:block;
    margin:0 auto;
    width: 20%;
}